.wrapper {
    padding: 20px;
    width: 320px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.avatar {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    object-fit: cover;
}
.follow-btn {
    padding: 4px 16px;
}
.body {
    margin-top: 12px;
    color: #161823;
}
.nickname {
    font-size: 1.8rem;
    margin: 0;
}
.check-icon {
    color: #20d5ec;
    font-size: 1.4rem;
    margin-left: 4px;
}
.name {
    font-size: 1.4rem;
    margin: 0;
}
.analytics {
    margin: 0;
    font-size: 1.8rem;
    margin-top: 10px;
}
.value ~ .value {
    margin-left: 20px;
}
.label {
    color: #161823bf;
}
